{% extends "base_alt.html" %}

{% block content %}
 <header class="intro-header" style="background-color:#00ad9f;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>500 Server Error</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>
<div class="container">
<p>Making room for a bigger revolution...Stay tuned.</p>
</div>
{%endblock}