    <!-- Footer -->
    {% load staticfiles %}
 
       <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; BrickBots 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/brick_bots"><i class="fa fa-twitter-square fa-2x" aria-hidden="true" style="color:#fff;"></i></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/brickbots/"><i class="fa fa-facebook-square fa-2x" aria-hidden="true" style="color:#fff;"></i></i></a>
                        </li>
                       <li> <a href="https://www.youtube.com/channel/UCco03fHgUU4d4cdW8bq-uTg"><i class="fa fa-youtube-square fa-2x" aria-hidden="true" style="color:#fff;"></i>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks" >
                        <li><a href="/privacy/" style="color:#999999">Privacy Policy</a>
                        </li>
                        <li><a href="mailto:info@brickbots.com" style="color:#999999">Contact Us</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>